<%- include("partials/header.ejs") -%>

<main>
    <div class="left-main">
        <h1 class="about heading">About Me</h1>
        <h3>Hi! I'm Umesh Kashyap</h3>
            <p class="lead">I am from Delhi, India. I am currently pursuing B.Tech in Computer Science and Engineering. I am hardworking, determined and passionate. I am quick when it comes to learning new things and have a positive attitude. Feel free to reach out to me....</p>
    </div>
    <div class="right-main">
        <img class="white-border" src="images/dpWa.png" alt="My pic" loading="lazy" width="88%">
    </div>
</main>

<%- include("partials/footer.ejs") -%>