<%- include("partials/header.ejs") -%>

<h1>Your one-shot stop for global headlines, delivered aesthetically!</h1>
<img class="hero-image" src="/images/homepage.webp" alt ="hero-image">

<h1>Never stay out of touch, with our new-launched Neswly app!</h1>
<img class="hero-image" src="/images/homepagep2.webp" alt="app">